.backdrop{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  opacity: .5;
  z-index: 9990;
}

.modalWindow{
  width: 80%;
  max-width: 500px;
  height: 80%;
  max-height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}

.modalWrapper{
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalOkButton{
  background-color: rgba(121, 237, 121, 0.694);
  margin-right: 15px;
  padding: 1px 15px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.buttonCancel{
  background-color: rgba(48, 46, 46, 0.558);
  color: white;
  padding: 1px 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.buttonCross{
  position: absolute;
  transition: 0.15s ease-in-out;
  width: 20px;
  top: 5px;
  right: 5px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 15px;
  background: transparent;
}

.buttonCross:hover{
  color: hsl(269, 33%, 52%);
  background-color: hsl(0 , 0%, 80%) ;
  
}
.buttonCancel:hover{
  background-color: rgba(48, 46, 46, 0.864);
}

.modalOkButton:hover{
  background-color: rgb(0, 255, 0);
}